.mainCard {
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  background-color: #d45206cb;
  color: lightblue;
}

.flag {
  min-height: 100px;
  max-height: 400px;
  min-width: 300px;
  max-width: 50px;
}
