.cardCont {
  display: flex;
  padding: 5%;
  border: 1px solid black;
  flex-direction: row;
  border-radius: 5px;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: space-around;
}

.noMatches {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: space-around;
  margin-top: 200px;
  font-size: xx-large;
}
